.col-md-6 {
	border: solid;
	width: 300px;
	height: 200px;
}

.col-md-4 {
	border: solid;
	width: 300px;
	height: 200px;
}

.col-md-3 {
	border: solid;
	width: 300px;
	height: 200px;
}

.col-md-8 {
	border: solid;
	width: 300px;
	height: 200px;
}
